/* RESET */
body,html,div,span,table,tr,td,
p,li,
h1, h2, h3, h4, h5 { font-weight: normal; font-size: inherit; margin: 0; }
li { list-style-type: none; }

/* COLORS */
html {
	background-color: #112;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a,
body { color: #dde; }

#sidebar table,
#game .item,
#game section,
#game section h2 { background-color: #212; }
#game section:target h2 { background-color: #423; }

/* FONTS */
body { font-size: 100%;
	font-family: baskerville,palatino,'palatino linotype',georgia,serif;
}

#inntitle { font-size: 1.4em; }
#inntitle .inn,
#inntitle .city { font-style: italic; }

#game h2,
table a { text-decoration: underline; }

/* POSITION & SIZE */

#actions { margin: 0 auto; width: 50em; }
#notifications,
#debug,
#always_actions { width: 20em; float: left; }
#debug { width: 10em; }

#always_actions button { margin: 2em 0; float: left; }

#actions li { margin: 1em 0; }

#notifications { min-height: 30em; }

.clear,
footer { clear: both; }

/* EFFECTS */
button,
.notification {
	transition: opacity 1s, height 1s;
	-webkit-transition: opacity 1s, height 1s;
}
button.hidden,
.notification.hidden {
	opacity: 0;
}
#hiddenParent { display: none; }
